html {
	overflow-x: hidden;
}

body {
	position: absolute;
	background: #ebe9f4 url(images/bg.png) top center fixed;
	top: 0;
	left: 50%;
	width: 1920px;
	height: 3500px;
	margin-left: -960px;
	
	color: #201f21;
}

a {
	text-decoration: none;
}

#slide1,
#slide2,
#slide3,
#slide4 {
	position: absolute;
	left: 0;
	width: 1920px;
	z-index: 0;
	overflow: hidden;
}
#slide1 {
	top: 0;
	height: 500px;
	background: url(images/slide1-bg-top.jpg) no-repeat top center fixed;
}

#slide2 {
	top: 500px;
	height: 1000px;
	z-index: 10;
	background: #2a9bca url(images/slide2-bg.gif);
	/*-moz-box-shadow: 0 0 25px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 0 25px rgba(0,0,0,0.25);
	box-shadow: 0 0 25px rgba(0,0,0,0.25);*/
}

#slide3  {
	top: 1500px;
	height: 1000px;
	z-index: 20;
	background: #c72222 url(images/slide3-bg.gif);
	/*-moz-box-shadow: 0 0 25px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 0 25px rgba(0,0,0,0.25);
	box-shadow: 0 0 25px rgba(0,0,0,0.25);*/
}

#slide4  {
	top: 2500px;
	height: 1000px;
	background: url(images/slide4-bg.png) no-repeat bottom center fixed;
}

/* Genericas */

.container {
	width: 940px;
	margin: 100px auto;
	height: 800px;
	position: relative;
}
#slide1 .container {
	margin: 0px auto;
	height: 500px;
}

.cabecera {
	text-align: center;
	color: #fff;
	margin-bottom: 80px;
}
	.cabecera h2 {
		font-family: 'Old Standard TT', Georgia, serif;
		font-style: italic;
		font-weight: normal;
		font-size: 42px;
		margin-bottom: 30px;
		line-height: 100%;
	}
		.cabecera h2 strong {
			font-family: 'Source Sans Pro', Helvetica, sans-serif;
			font-style: normal;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 58px;
			text-shadow: 0 1px 0 rgba(0,0,0,.07), 0 -1px 0 rgba(255,255,255,.7);
			position: relative;
			top: 8px;
		}
	.cabecera h3 {
		font-family: 'Old Standard TT', Georgia, serif;
		font-style: normal;
		font-weight: normal;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.3em;
		border-bottom: 1px solid #fff;
		height: 6px;
	}
		.cabecera h3 span {
			display: inline-block;
			height: 14px;
			padding: 0 15px;
		}

.cabecera2 {
	text-align: center;
	margin-bottom: 80px;
}
	.cabecera2 h2 {
		font-family: 'Abril Fatface', Georgia, serif;
		font-size: 80px;
		letter-spacing: normal;
		font-weight: regular;
		margin-bottom: 20px;
	}
	.cabecera2 h3 {
		font-family: 'Old Standard TT', Georgia, serif;
		font-size: 35px;
		text-transform: lowercase;
		font-style: italic;
		letter-spacing: -0.07em;
		display: block;
	}

	/* Slide 1 - Home */
	
	#slide1 #bienvenida {
		position: absolute;
		left: 0;
		top: 90px;
		z-index: 5;
		width: 650px;
		text-shadow: 0 1px 0 rgba(255,255,255,0.8);
	}
		#slide1 #bienvenida h1 {
			font-family: 'Abril Fatface', Georgia, serif;
			font-size: 110px;
			letter-spacing: normal;
			text-transform: lowercase;
			font-weight: regular;
			margin-bottom: 20px;
		}
			#slide1 #bienvenida h1 em {
				font-family: 'Old Standard TT', Georgia, serif;
				font-size: 41px;
				letter-spacing: -0.07em;
				display: block;
			}
		#slide1 #bienvenida p {
			font-family: 'Source Sans Pro', Helvetica, sans-serif;
			font-size: 28px;
			line-height: 130%;
		}
	
	#slide1 #logo {
		position: absolute;
		left: 680px;
		top: 160px;
		z-index: 5;
		width: 244px;
		height: 174px;
		display: block;
		background: url(images/sprite.png) no-repeat -273px -8px;
	}
	
	/* Slide 2 - Servicios */
	
	#slide2 .container {
	}
		#slide2 .cabecera h2 strong {
			color: #8bd9f9;
		}
		#slide2 .cabecera h3 span {
			background: url(images/dot-celeste.gif) repeat-x 0 5px;
		}
		
		#servicio1, #servicio2, #servicio3, #servicio4 {
			position: absolute;
			left: 0;
			top: 200px;
			z-index: 15;
			width: 235px;
			height: 320px;
		}
		
		.servicio {
			font-family: 'Source Sans Pro', Helvetica, sans-serif;
			font-size: 18px;
			font-weight: bold;
			font-style: italic;
			text-align: center;
			color: #03638b;
			text-shadow: 0 1px 0 rgba(255,255,255,.2);	
		}
		.servicio span {
			display: block;
			height: 210px;
			background-image: url(images/sprite.png);
			background-repeat: no-repeat;
		}
		
		#servicio1 {
			left: 0;
		}
			#servicio1 span {
				background-position: -10px 0px;
			}
		#servicio2 {
			left: 235px;
		}
			#servicio2 span {
				background-position: -15px -230px;
			}
		#servicio3 {
			left: 470px;
		}
			#servicio3 span {
				background-position: -17px -433px;
			}
		#servicio4 {
			left: 705px;
		}
			#servicio4 span {
				background-position: -20px -640px;
			}
		
		#servicio-txt1, #servicio-txt2 {
			position: absolute;
			top: 550px;
			z-index: 15;
			
			font-family: 'Source Sans Pro', Helvetica, sans-serif;
			text-shadow: 0 1px 0 rgba(0,0,0,.1);
			line-height: 140%;
		}
		
		#servicio-txt1 {
			left: 0px;
			width: 400px;
			font-size: 23px;
			color: #8bd9f9;
			font-weight: 600;
			text-align: right;
		}
		#servicio-txt2 {
			left: 430px;
			width: 510px;
			font-size: 17px;
			color: #fff;
			line-height: 150%;
		}
	
	/* Slide 3 - Nosotros */
	
	#slide3 .container {
	}
		#slide3 .cabecera {
			position: relative;
			z-index: 27;
		}
		#slide3 .cabecera h2 strong {
			color: #ed7272;
			text-shadow: 0 1px 0 rgba(0,0,0,.07), 0 -1px 0 rgba(255,255,255,.5);
		}
		#slide3 .cabecera h3 span {
			background: url(images/dot-bordo.gif) repeat-x 0 5px;
		}
		
		#corona {
			position: absolute;
			left: -42px;
			top: 100px;
			z-index: 25;
			width: 1023px;
			height: 711px;
			display: block;
			background: url(images/corona.png) no-repeat;
		}
		
		#nosotros-txt1, #nosotros-txt2, #nosotros-txt3 {
			position: absolute;
			left: 0;
			top: 250px;
			z-index: 27;
			width: 300px;
		}
		
		#nosotros-txt1 {
			left: 0;
		}
		#nosotros-txt2 {
			left: 320px;
		}
		#nosotros-txt3 {
			left: 640px;
		}
		
		.nosotros {
			font-family: 'Old Standard TT', Georgia, serif;
			font-size: 17px;
			color: #ffd4d4;
		}
			.nosotros h4 {
				font-family: 'Merriweather', Georgia, serif;
				font-size: 22px;
				font-weight: bold;
				color: #fff;
				margin-bottom: 20px;
			}
			.nosotros p {
				text-indent: 50px;
				line-height: 170%;
			}
		
	/* Slide 4 - Contacto */
	
	#slide4 .container {
		font-family: 'Source Code Pro', Helvetica, sans-serif;
	}
		
		#contact1, #contact2 {
			position: absolute;
			left: 0;
			z-index: 5;
			width: 300px;
		}
		#contact1 {
			top: 230px;
		}
		#contact2 {
			top: 430px;
		}
		
		.contacto {
			color: #636066;
		}
			.contacto h5 {
				font-size: 17px;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: 10px;
				padding: 10px 20px;
				position: relative;
				left: -20px;
				background: url(images/sprite.png) no-repeat -830px -95px;
			}
			.contacto h5.alt {
				background-position: -835px -158px;
			}
			
			.contacto ul {
				font-size: 12px;
				text-transform: uppercase;
				list-style: none;
			}
				.contacto ul li {
					overflow: hidden;
					font-size: 12px;
					height: 32px;
					line-height: 32px;
					margin-bottom: 10px;
				}
					.contacto ul li span {
						float: left;
						height: 32px;
						width: 32px;
						margin-right: 15px;
						background-image: url(images/sprite.png);
						background-repeat: no-repeat;
					}
					.contacto ul li a {
						color: #636066;
					}
					.contacto ul li a:hover {
						color: #333;
					}
				.contacto ul li.icon-tel span {
					background-position: -545px -128px;
				}
				.contacto ul li.icon-email span {
					background-position: -593px -128px;
				}
				.contacto ul li.icon-dir span {
					background-position: -646px -128px;
				}
				.contacto ul li.icon-fb span {
					background-position: -689px -126px;
				}
				.contacto ul li.icon-tw span {
					background-position: -735px -128px;
				}
				
		#contactform, #send {
			position: absolute;
			background-image: url(images/sprite.png);
			background-repeat: no-repeat;
		}
		#contactform {
			top: 200px;
			right: -20px;
			z-index: 7;
			
			width: 660px;
			height: 500px;
			background-position: -270px -200px;
		}
		#send {
			top: 690px;
			right: -15px;
			z-index: 5;
			
			width: 300px;
			height: 90px;
			background-color: transparent;
			background-position: -535px 0px;
			
			border: none;
			cursor: pointer;
			font-family: 'Source Code Pro', Helvetica, sans-serif;
			font-size: 24px;
			text-align: left;
			text-indent: 130px;
			color: #636066;
		}
			
			#contactform input {
				background: #fff;
				border: 1px solid #ccc5d3;
				padding: 10px;
				font-family: 'Source Code Pro', Helvetica, sans-serif;
				font-size: 12px;
				text-transform: uppercase;
				text-align: left;
				color: #636066;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				outline: none;
			}
			#contactform textarea {
				font-family: 'Source Code Pro', Helvetica, sans-serif;
				font-size: 12px;
				text-align: left;
				border: none;
				color: #636066;
				outline: none;
				resize: none;
			}
			#contactform textarea[disabled] {
				color: #999;
			}
			
			.form {
				margin: 60px 60px 0 60px;
				font-size: 12px;
			}
				.form p {
					margin-bottom: 10px;
				}
				.form p label {
					display: inline-block;
					width: 160px;
				}
				.form p input {
					width: 230px;
				}
			
			.form .tabs {
				overflow: hidden;
				list-style: none;
				margin-top: 20px;
				position: relative;
				top: 1px;
			}
				.form .tabs li {
					float: left;
					margin-left: 5px;
				}
					.form .tabs li:last-child {
						float: right;
						margin-right: 5px;
					}
					.form .tabs li a {
						font-size: 10px;
						text-transform: uppercase;
						display: block;
						padding: 8px 10px;
						color: #8e8d90;
						background: #f1f1f1;
						border: 1px solid #ccc5d3;
						-webkit-border-top-left-radius: 4px;
						-webkit-border-top-right-radius: 4px;
						-moz-border-radius-topleft: 4px;
						-moz-border-radius-topright: 4px;
						border-top-left-radius: 4px;
						border-top-right-radius: 4px;
					}
					.form .tabs li a.active {
						color: #636066;
						background: #fff;
						border-bottom: 1px solid #fff;
					}
			
			.form .panes {
				padding: 15px;
				height: 180px;
				margin-bottom: 20px;
				background: #fff;
				border: 1px solid #ccc5d3;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
			}
				.form .panes .pane {
					display: none;
				}
				.form .panes .active {
					display: block;
				}
					.form .panes .pane textarea {
						width: 500px;
						height: 180px;
						overflow: auto;
					}
			
				.message-ok,
				.message-error {
					display: inline-block;
					padding: 5px;
					font-family: 'Source Code Pro', Helvetica, sans-serif;
					font-size: 12px;
					color: #fff;
				}
				.message-ok {
					background: #A6C1F2;
				}
				.message-error {
					background-color: #e77e7e;
				}